types-1.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Copyright (c) 2019. Bernard Bou <1313ou@gmail.com>. -->

<!DOCTYPE xsd:schema
[
<!ENTITY lexid "ewn\-[a-zA-Z0-9_\.\-]*-(n|v|a|r|s)">
<!ENTITY synsetid "ewn\-\d{8}\-[nvars]">
<!ENTITY senseid "ewn\-.*\-[nvars]\-\d{8}\-\d{2}">
<!ENTITY syntacticbehaviourid "ewn\-s(b|t)\-\d{1,3}">
<!ENTITY word "[a-zA-Z0-9 '!,:/\-\.]+">
<!ENTITY lemma "[a-zA-Z0-9_'/\-\.]+">
<!ENTITY nullable_lemma "[a-zA-Z0-9_'/\-\.]*">
<!ENTITY lexsense_sstype "\d">
<!ENTITY lexsense_lexfile "\d\d">
<!ENTITY lexsense_lexid "\d\d">
<!ENTITY nullable_lexsense_lexid "(\d\d)?">
<!ENTITY ili "i\d+|in">
]>

<xsd:schema 
	targetNamespace='https://github.com/globalwordnet/english-wordnet'
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:dc='http://purl.org/dc/elements/1.1/'
	xmlns:ewn='https://github.com/globalwordnet/english-wordnet'
	>

	<xsd:import namespace='http://purl.org/dc/elements/1.1/' schemaLocation='dc.xsd' />

	<!-- T Y P Ë S -->

	<!-- id -->

	<xsd:simpleType name='LexicalEntryIDType'>
		<xsd:restriction base='xsd:ID'>
			<xsd:pattern value='&lexid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SynsetIDType'>
		<xsd:restriction base='xsd:ID'>
			<xsd:pattern value='&synsetid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SenseIDType'>
		<xsd:restriction base='xsd:ID'>
			<xsd:pattern value='&senseid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SyntacticBehaviourIDType'>
		<xsd:restriction base='xsd:ID'>
			<xsd:pattern value='&syntacticbehaviourid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- idref -->

	<xsd:simpleType name='SynsetIDREFType'>
		<xsd:restriction base='xsd:IDREF'>
			<xsd:pattern value='&synsetid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='LocalSynsetIDREFType'>
		<xsd:restriction base='xsd:IDREF'>
			<xsd:pattern value='&synsetid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SynsetIDREFSType'>
		<xsd:restriction>
			<xsd:simpleType>
				<xsd:list>
					<xsd:simpleType>
						<xsd:restriction base='xsd:IDREF'>
							<xsd:pattern value='&synsetid;' />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:list>
			</xsd:simpleType>
			<xsd:minLength value='1' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='LocalSynsetIDREFSType'>
		<xsd:restriction>
			<xsd:simpleType>
				<xsd:list>
					<xsd:simpleType>
						<xsd:restriction base='xsd:IDREF'>
							<xsd:pattern value='&synsetid;' />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:list>
			</xsd:simpleType>
			<xsd:minLength value='1' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SenseIDREFType'>
		<xsd:restriction base='xsd:IDREF'>
			<xsd:pattern value='&senseid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='LocalSenseIDREFType'>
		<xsd:restriction base='xsd:IDREF'>
			<xsd:pattern value='&senseid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SenseIDREFSType'>
		<xsd:restriction>
			<xsd:simpleType>
				<xsd:list>
					<xsd:simpleType>
						<xsd:restriction base='xsd:IDREF'>
							<xsd:pattern value='&senseid;' />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:list>
			</xsd:simpleType>
			<xsd:minLength value='1' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='LocalSenseIDREFSType'>
		<xsd:restriction>
			<xsd:simpleType>
				<xsd:list>
					<xsd:simpleType>
						<xsd:restriction base='xsd:IDREF'>
							<xsd:pattern value='&senseid;' />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:list>
			</xsd:simpleType>
			<xsd:minLength value='1' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SyntacticBehaviourIDREFType'>
		<xsd:restriction base='xsd:IDREF'>
			<xsd:pattern value='&syntacticbehaviourid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='LocalSyntacticBehaviourIDREFType'>
		<xsd:restriction base='xsd:IDREF'>
			<xsd:pattern value='&syntacticbehaviourid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SyntacticBehaviourIDREFSType'>
		<xsd:restriction>
			<xsd:simpleType>
				<xsd:list>
					<xsd:simpleType>
						<xsd:restriction base='xsd:IDREF'>
							<xsd:pattern value='&syntacticbehaviourid;' />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:list>
			</xsd:simpleType>
			<xsd:minLength value='1' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='LocalSyntacticBehaviourIDREFSType'>
		<xsd:restriction>
			<xsd:simpleType>
				<xsd:list>
					<xsd:simpleType>
						<xsd:restriction base='xsd:IDREF'>
							<xsd:pattern value='&syntacticbehaviourid;' />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:list>
			</xsd:simpleType>
			<xsd:minLength value='1' />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- form types -->

	<xsd:simpleType name='WrittenFormType'>
		<xsd:restriction base='xsd:string'>
			<xsd:pattern value='&word;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='ScriptType'>
		<xsd:restriction base='xsd:string'>
			<xsd:pattern value='&word;' />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- category types -->

	<xsd:simpleType name='PartOfSpeechType'>
		<xsd:restriction base='xsd:string'>
			<xsd:enumeration value='n' />
			<xsd:enumeration value='v' />
			<xsd:enumeration value='a' />
			<xsd:enumeration value='r' />
			<xsd:enumeration value='s' />
			<xsd:enumeration value='t' />
			<xsd:enumeration value='c' />
			<xsd:enumeration value='p' />
			<xsd:enumeration value='x' />
			<xsd:enumeration value='u' />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- relation types -->

	<xsd:simpleType name='SynsetRelationType'>
		<xsd:restriction base='xsd:string'>
			<xsd:enumeration value='agent' />
			<xsd:enumeration value='also' />
			<xsd:enumeration value='antonym' />
			<xsd:enumeration value='attribute' />
			<xsd:enumeration value='be_in_state' />
			<xsd:enumeration value='causes' />
			<xsd:enumeration value='classified_by' />
			<xsd:enumeration value='classifies' />
			<xsd:enumeration value='co_agent_instrument' />
			<xsd:enumeration value='co_agent_patient' />
			<xsd:enumeration value='co_agent_result' />
			<xsd:enumeration value='co_instrument_agent' />
			<xsd:enumeration value='co_instrument_patient' />
			<xsd:enumeration value='co_instrument_result' />
			<xsd:enumeration value='co_patient_agent' />
			<xsd:enumeration value='co_patient_instrument' />
			<xsd:enumeration value='co_result_agent' />
			<xsd:enumeration value='co_result_instrument' />
			<xsd:enumeration value='co_role' />
			<xsd:enumeration value='direction' />
			<xsd:enumeration value='domain_region' />
			<xsd:enumeration value='domain_topic' />
			<xsd:enumeration value='entails' />
			<xsd:enumeration value='eq_synonym' />
			<xsd:enumeration value='exemplifies' />
			<xsd:enumeration value='has_domain_region' />
			<xsd:enumeration value='has_domain_topic' />
			<xsd:enumeration value='holo_location' />
			<xsd:enumeration value='holo_member' />
			<xsd:enumeration value='holonym' />
			<xsd:enumeration value='holo_part' />
			<xsd:enumeration value='holo_portion' />
			<xsd:enumeration value='holo_substance' />
			<xsd:enumeration value='hypernym' />
			<xsd:enumeration value='hyponym' />
			<xsd:enumeration value='in_manner' />
			<xsd:enumeration value='instance_hypernym' />
			<xsd:enumeration value='instance_hyponym' />
			<xsd:enumeration value='instrument' />
			<xsd:enumeration value='involved' />
			<xsd:enumeration value='involved_agent' />
			<xsd:enumeration value='involved_direction' />
			<xsd:enumeration value='involved_instrument' />
			<xsd:enumeration value='involved_location' />
			<xsd:enumeration value='involved_patient' />
			<xsd:enumeration value='involved_result' />
			<xsd:enumeration value='involved_source_direction' />
			<xsd:enumeration value='involved_target_direction' />
			<xsd:enumeration value='is_caused_by' />
			<xsd:enumeration value='is_entailed_by' />
			<xsd:enumeration value='is_exemplified_by' />
			<xsd:enumeration value='is_subevent_of' />
			<xsd:enumeration value='location' />
			<xsd:enumeration value='manner_of' />
			<xsd:enumeration value='mero_location' />
			<xsd:enumeration value='mero_member' />
			<xsd:enumeration value='meronym' />
			<xsd:enumeration value='mero_part' />
			<xsd:enumeration value='mero_portion' />
			<xsd:enumeration value='mero_substance' />
			<xsd:enumeration value='patient' />
			<xsd:enumeration value='restricted_by' />
			<xsd:enumeration value='restricts' />
			<xsd:enumeration value='result' />
			<xsd:enumeration value='role' />
			<xsd:enumeration value='similar' />
			<xsd:enumeration value='source_direction' />
			<xsd:enumeration value='state_of' />
			<xsd:enumeration value='subevent' />
			<xsd:enumeration value='target_direction' />
			<xsd:enumeration value='other' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SenseRelationType'>
		<xsd:restriction base='xsd:string'>
			<xsd:enumeration value='antonym' />
			<xsd:enumeration value='also' />
			<xsd:enumeration value='participle' />
			<xsd:enumeration value='pertainym' />
			<xsd:enumeration value='derivation' />
			<xsd:enumeration value='domain_topic' />
			<xsd:enumeration value='has_domain_topic' />
			<xsd:enumeration value='domain_region' />
			<xsd:enumeration value='has_domain_region' />
			<xsd:enumeration value='exemplifies' />
			<xsd:enumeration value='is_exemplified_by' />
			<xsd:enumeration value='similar' />
			<xsd:enumeration value='other' />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- adj position type -->

	<xsd:simpleType name='AdjPositionType'>
		<xsd:restriction base='xsd:string'>
			<xsd:enumeration value='a' />
			<xsd:enumeration value='p' />
			<xsd:enumeration value='ip' />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- index types -->

	<xsd:simpleType name='NType'>
		<xsd:restriction base='xsd:integer'>
			<xsd:minInclusive value='0' />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- lex file types -->

	<xsd:simpleType name='SenseIdxType'>
		<xsd:restriction base='xsd:integer'>
			<xsd:minInclusive value='0' />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name='LexIdType'>
		<xsd:restriction base='xsd:string'>
			<xsd:pattern value='\d\d' />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name='LexFileType'>
		<xsd:restriction base='xsd:string'>
			<xsd:enumeration value='adj.all' />
			<xsd:enumeration value='adj.pert' />
			<xsd:enumeration value='adj.ppl' />
			<xsd:enumeration value='adv.all' />
			<xsd:enumeration value='noun.act' />
			<xsd:enumeration value='noun.animal' />
			<xsd:enumeration value='noun.artifact' />
			<xsd:enumeration value='noun.attribute' />
			<xsd:enumeration value='noun.body' />
			<xsd:enumeration value='noun.cognition' />
			<xsd:enumeration value='noun.communication' />
			<xsd:enumeration value='noun.event' />
			<xsd:enumeration value='noun.feeling' />
			<xsd:enumeration value='noun.food' />
			<xsd:enumeration value='noun.group' />
			<xsd:enumeration value='noun.location' />
			<xsd:enumeration value='noun.motive' />
			<xsd:enumeration value='noun.object' />
			<xsd:enumeration value='noun.person' />
			<xsd:enumeration value='noun.phenomenon' />
			<xsd:enumeration value='noun.plant' />
			<xsd:enumeration value='noun.possession' />
			<xsd:enumeration value='noun.process' />
			<xsd:enumeration value='noun.quantity' />
			<xsd:enumeration value='noun.relation' />
			<xsd:enumeration value='noun.shape' />
			<xsd:enumeration value='noun.state' />
			<xsd:enumeration value='noun.substance' />
			<xsd:enumeration value='noun.time' />
			<xsd:enumeration value='noun.Tops' />
			<xsd:enumeration value='verb.body' />
			<xsd:enumeration value='verb.change' />
			<xsd:enumeration value='verb.cognition' />
			<xsd:enumeration value='verb.communication' />
			<xsd:enumeration value='verb.competition' />
			<xsd:enumeration value='verb.consumption' />
			<xsd:enumeration value='verb.contact' />
			<xsd:enumeration value='verb.creation' />
			<xsd:enumeration value='verb.emotion' />
			<xsd:enumeration value='verb.motion' />
			<xsd:enumeration value='verb.perception' />
			<xsd:enumeration value='verb.possession' />
			<xsd:enumeration value='verb.social' />
			<xsd:enumeration value='verb.stative' />
			<xsd:enumeration value='verb.weather' />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- sensekey type -->

	<xsd:simpleType name='SensekeyType'>
		<xsd:restriction base='xsd:string'>
			<xsd:pattern value='&lemma;\%&lexsense_sstype;:&lexsense_lexfile;:&lexsense_lexid;:&nullable_lemma;:&nullable_lexsense_lexid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- meta types -->

	<xsd:simpleType name='ConfidenceScoreType'>
		<xsd:restriction base='xsd:float'>
			<xsd:minInclusive value='0.0' />
			<xsd:maxInclusive value='1.0' />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- foreign key types -->

	<xsd:simpleType name='ILIType'>
		<xsd:restriction base='xsd:string'>
			<xsd:pattern value='&ili;' />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- A T T R I B U T E G R O U P S -->

	<xsd:attributeGroup name='Meta'>
		<xsd:attribute ref='dc:contributor' use='optional' />
		<xsd:attribute ref='dc:coverage' use='optional' />
		<xsd:attribute ref='dc:creator' use='optional' />
		<xsd:attribute ref='dc:date' use='optional' />
		<xsd:attribute ref='dc:description' use='optional' />
		<xsd:attribute ref='dc:format' use='optional' />
		<xsd:attribute ref='dc:publisher' use='optional' />
		<xsd:attribute ref='dc:relation' use='optional' />
		<xsd:attribute ref='dc:rights' use='optional' />
		<xsd:attribute ref='dc:source' use='optional' />
		<xsd:attribute ref='dc:title' use='optional' />
		<xsd:attribute ref='dc:type' use='optional' />
		<xsd:attribute name='status' type='xsd:string' use='optional' />
		<xsd:attribute name='note' type='xsd:string' use='optional' />
		<xsd:attribute name='confidenceScore' type='ewn:ConfidenceScoreType' default='1.0' use='optional' />
	</xsd:attributeGroup>

</xsd:schema>
