WN-LMF-1.2-relax_idrefs.xsd

<!DOCTYPE xsd:schema
[
<!ENTITY lexid "ewn\-[a-zA-Z0-9_\.\-]*-(n|v|a|r|s)">
<!ENTITY synsetid "ewn\-\d{8}\-[nvars]">
<!ENTITY senseid "ewn\-.*\-[nvars]\-\d{8}\-\d{2}">
<!ENTITY senseid_ns "ewn\-.*\-[nvars]\-\d{8}\-\d{2}|ewn\-.*\-[nvars]\-ewn\-\d{8}\-\d{2}">
<!ENTITY word "[a-zA-Z0-9 '!,:/\-\.]+">
<!ENTITY lemma "[a-zA-Z0-9_'/\-\.]+">
<!ENTITY nullable_lemma "[a-zA-Z0-9_'/\-\.]*">
<!ENTITY lexsense_sstype "\d">
<!ENTITY lexsense_lexfile "\d\d">
<!ENTITY lexsense_lexid "\d\d">
<!ENTITY nullable_lexsense_lexid "(\d\d)?">
<!ENTITY ili "i\d+|in">
]>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:t='http://www.w3.org/namespace/' xmlns:dc='http://purl.org/dc/elements/1.1/'>

	<xsd:import namespace='http://purl.org/dc/elements/1.1/' schemaLocation='dc.xsd' />

	<!-- T Y P Ë S -->

	<xsd:simpleType name='LexicalEntryIDType'>
		<xsd:restriction base='xsd:ID'>
			<xsd:pattern value='&lexid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SynsetIDType'>
		<xsd:restriction base='xsd:ID'>
			<xsd:pattern value='&synsetid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SenseIDType'>
		<xsd:restriction base='xsd:ID'>
			<xsd:pattern value='&senseid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SynsetIDREFType'>
		<!-- <xsd:restriction base='xsd:IDREF'> -->
		<xsd:restriction base='xsd:NCName'>
			<xsd:pattern value='&synsetid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SenseIDREFType'>
		<!-- <xsd:restriction base='xsd:IDREF'> -->
		<xsd:restriction base='xsd:NCName'>
			<xsd:pattern value='&senseid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SynsetIDREFSType'>
		<xsd:restriction>
			<xsd:simpleType>
				<xsd:list>
					<xsd:simpleType>
						<!-- <xsd:restriction base='xsd:IDREF'> -->
						<xsd:restriction base='xsd:NCName'>
							<xsd:pattern value='&synsetid;' />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:list>
			</xsd:simpleType>
			<xsd:minLength value='1' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SenseIDREFSType'>
		<xsd:restriction>
			<xsd:simpleType>
				<xsd:list>
					<xsd:simpleType>
						<!-- <xsd:restriction base='xsd:IDREF'> -->
						<xsd:restriction base='xsd:NCName'>
							<xsd:pattern value='&senseid;' />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:list>
			</xsd:simpleType>
			<xsd:minLength value='1' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='WrittenFormType'>
		<xsd:restriction base='xsd:string'>
			<xsd:pattern value='&word;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='ScriptType'>
		<xsd:restriction base='xsd:string'>
			<xsd:pattern value='&word;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='IdxType'>
		<xsd:restriction base='xsd:integer'>
			<xsd:minInclusive value='0' />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name='LexIdType'>
		<xsd:restriction base='xsd:string'>
			<xsd:pattern value='\d\d' />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name='SensekeyType'>
		<xsd:restriction base='xsd:string'>
			<xsd:pattern value='&lemma;\%&lexsense_sstype;:&lexsense_lexfile;:&lexsense_lexid;:&nullable_lemma;:&nullable_lexsense_lexid;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='ILIType'>
		<xsd:restriction base='xsd:string'>
			<xsd:pattern value='&ili;' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='PartOfSpeechType'>
		<xsd:restriction base='xsd:string'>
			<xsd:enumeration value='n' />
			<xsd:enumeration value='v' />
			<xsd:enumeration value='a' />
			<xsd:enumeration value='r' />
			<xsd:enumeration value='s' />
			<xsd:enumeration value='t' />
			<xsd:enumeration value='c' />
			<xsd:enumeration value='p' />
			<xsd:enumeration value='x' />
			<xsd:enumeration value='u' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SynsetRelationType'>
		<xsd:restriction base='xsd:string'>
			<xsd:enumeration value='agent' />
			<xsd:enumeration value='also' />
			<xsd:enumeration value='antonym' />
			<xsd:enumeration value='attribute' />
			<xsd:enumeration value='be_in_state' />
			<xsd:enumeration value='causes' />
			<xsd:enumeration value='classified_by' />
			<xsd:enumeration value='classifies' />
			<xsd:enumeration value='co_agent_instrument' />
			<xsd:enumeration value='co_agent_patient' />
			<xsd:enumeration value='co_agent_result' />
			<xsd:enumeration value='co_instrument_agent' />
			<xsd:enumeration value='co_instrument_patient' />
			<xsd:enumeration value='co_instrument_result' />
			<xsd:enumeration value='co_patient_agent' />
			<xsd:enumeration value='co_patient_instrument' />
			<xsd:enumeration value='co_result_agent' />
			<xsd:enumeration value='co_result_instrument' />
			<xsd:enumeration value='co_role' />
			<xsd:enumeration value='direction' />
			<xsd:enumeration value='domain_region' />
			<xsd:enumeration value='domain_topic' />
			<xsd:enumeration value='entails' />
			<xsd:enumeration value='eq_synonym' />
			<xsd:enumeration value='exemplifies' />
			<xsd:enumeration value='has_domain_region' />
			<xsd:enumeration value='has_domain_topic' />
			<xsd:enumeration value='holo_location' />
			<xsd:enumeration value='holo_member' />
			<xsd:enumeration value='holonym' />
			<xsd:enumeration value='holo_part' />
			<xsd:enumeration value='holo_portion' />
			<xsd:enumeration value='holo_substance' />
			<xsd:enumeration value='hypernym' />
			<xsd:enumeration value='hyponym' />
			<xsd:enumeration value='in_manner' />
			<xsd:enumeration value='instance_hypernym' />
			<xsd:enumeration value='instance_hyponym' />
			<xsd:enumeration value='instrument' />
			<xsd:enumeration value='involved' />
			<xsd:enumeration value='involved_agent' />
			<xsd:enumeration value='involved_direction' />
			<xsd:enumeration value='involved_instrument' />
			<xsd:enumeration value='involved_location' />
			<xsd:enumeration value='involved_patient' />
			<xsd:enumeration value='involved_result' />
			<xsd:enumeration value='involved_source_direction' />
			<xsd:enumeration value='involved_target_direction' />
			<xsd:enumeration value='is_caused_by' />
			<xsd:enumeration value='is_entailed_by' />
			<xsd:enumeration value='is_exemplified_by' />
			<xsd:enumeration value='is_subevent_of' />
			<xsd:enumeration value='location' />
			<xsd:enumeration value='manner_of' />
			<xsd:enumeration value='mero_location' />
			<xsd:enumeration value='mero_member' />
			<xsd:enumeration value='meronym' />
			<xsd:enumeration value='mero_part' />
			<xsd:enumeration value='mero_portion' />
			<xsd:enumeration value='mero_substance' />
			<xsd:enumeration value='patient' />
			<xsd:enumeration value='restricted_by' />
			<xsd:enumeration value='restricts' />
			<xsd:enumeration value='result' />
			<xsd:enumeration value='role' />
			<xsd:enumeration value='similar' />
			<xsd:enumeration value='source_direction' />
			<xsd:enumeration value='state_of' />
			<xsd:enumeration value='subevent' />
			<xsd:enumeration value='target_direction' />
			<xsd:enumeration value='other' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='SenseRelationType'>
		<xsd:restriction base='xsd:string'>
			<xsd:enumeration value='antonym' />
			<xsd:enumeration value='also' />
			<xsd:enumeration value='participle' />
			<xsd:enumeration value='pertainym' />
			<xsd:enumeration value='derivation' />
			<xsd:enumeration value='domain_topic' />
			<xsd:enumeration value='has_domain_topic' />
			<xsd:enumeration value='domain_region' />
			<xsd:enumeration value='has_domain_region' />
			<xsd:enumeration value='exemplifies' />
			<xsd:enumeration value='is_exemplified_by' />
			<xsd:enumeration value='similar' />
			<xsd:enumeration value='other' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='ConfidenceScoreType'>
		<xsd:restriction base='xsd:float'>
			<xsd:minInclusive value='0.0' />
			<xsd:maxInclusive value='1.0' />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name='NType'>
		<xsd:restriction base='xsd:integer'>
			<xsd:minInclusive value='0' />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- A T T R I B U T E G R O U P S -->

	<xsd:attributeGroup name='Meta'>
		<xsd:attribute ref='dc:contributor' use='optional' />
		<xsd:attribute ref='dc:coverage' use='optional' />
		<xsd:attribute ref='dc:creator' use='optional' />
		<xsd:attribute ref='dc:date' use='optional' />
		<xsd:attribute ref='dc:description' use='optional' />
		<xsd:attribute ref='dc:format' use='optional' />
		<xsd:attribute ref='dc:publisher' use='optional' />
		<xsd:attribute ref='dc:relation' use='optional' />
		<xsd:attribute ref='dc:rights' use='optional' />
		<xsd:attribute ref='dc:source' use='optional' />
		<xsd:attribute ref='dc:title' use='optional' />
		<xsd:attribute ref='dc:type' use='optional' />
		<xsd:attribute name='status' type='xsd:string' use='optional' />
		<xsd:attribute name='note' type='xsd:string' use='optional' />
		<xsd:attribute name='confidenceScore' type='ConfidenceScoreType' default='1.0' use='optional' />
	</xsd:attributeGroup>

	<!-- E L E M E N T S -->

	<xsd:element name='LexicalResource'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='Lexicon' maxOccurs='unbounded' />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='Lexicon'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='LexicalEntry' minOccurs='0' maxOccurs='unbounded' />
				<xsd:element ref='Synset' minOccurs='0' maxOccurs='unbounded' />
			</xsd:sequence>

			<xsd:attribute name='id' type='xsd:ID' use='required' />
			<xsd:attribute name='label' type='xsd:string' use='required' />
			<xsd:attribute name='language' type='xsd:string' use='required' />
			<xsd:attribute name='email' type='xsd:string' use='required' />
			<xsd:attribute name='license' type='xsd:string' use='required' />
			<xsd:attribute name='version' type='xsd:string' use='required' />
			<xsd:attribute name='url' type='xsd:string' use='optional' />
			<xsd:attribute name='citation' type='xsd:string' use='optional' />
			<xsd:attributeGroup ref='Meta' />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='LexicalEntry'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='Lemma' minOccurs='1' maxOccurs='1' />
				<xsd:element ref='Form' minOccurs='0' maxOccurs='unbounded' />
				<xsd:element ref='Sense' minOccurs='1' maxOccurs='unbounded' />
				<xsd:element ref='SyntacticBehaviour' minOccurs='0' maxOccurs='unbounded' />
			</xsd:sequence>

			<xsd:attribute name='id' type='LexicalEntryIDType' use='required' />
			<xsd:attributeGroup ref='Meta' />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='Lemma'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='Tag' minOccurs='0' maxOccurs='unbounded' />
			</xsd:sequence>

			<xsd:attribute name='writtenForm' type='WrittenFormType' use='required' />
			<xsd:attribute name='script' type='ScriptType' use='optional' />
			<xsd:attribute name='partOfSpeech' type='PartOfSpeechType' use='required' />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='Form'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='Tag' minOccurs='0' maxOccurs='unbounded' />
			</xsd:sequence>

			<xsd:attribute name='writtenForm' type='WrittenFormType' use='required' />
			<xsd:attribute name='script' type='ScriptType' use='optional' />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='Tag'>
		<xsd:complexType mixed='true'>
			<xsd:attribute name='category' type='xsd:string' use='required' />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='Sense'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='SenseRelation' minOccurs='0' maxOccurs='unbounded' />
				<xsd:element ref='Example' minOccurs='0' maxOccurs='unbounded' />
				<xsd:element ref='Count' minOccurs='0' maxOccurs='1' />
			</xsd:sequence>

			<xsd:attribute name='id' type='SenseIDType' use='required' />
			<xsd:attribute name='synset' type='SynsetIDREFType' use='required' />
			<xsd:attribute name='lexicalized' type='xsd:boolean' default='true' use='optional' />
			<xsd:attribute name='n' type='NType' use='optional' />
			<xsd:attribute name='idx' type='IdxType' use='required' />
			<xsd:attribute name='lexid' type='LexIdType' use='required' />
			<xsd:attribute name='sensekey' type='SensekeyType' use='required' />
			<xsd:attribute ref='dc:identifier' use='optional' /> <!-- sensekey -->
			<xsd:attributeGroup ref='Meta' />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='Synset'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref='Definition' minOccurs='0' maxOccurs='1' />
				<xsd:element ref='ILIDefinition' minOccurs='0' maxOccurs='1' />
				<xsd:element ref='SynsetRelation' minOccurs='0' maxOccurs='unbounded' />
				<xsd:element ref='Example' minOccurs='0' maxOccurs='unbounded' />
			</xsd:sequence>

			<xsd:attribute name='id' type='SynsetIDType' use='required' />
			<xsd:attribute name='ili' type='ILIType' use='required' />
			<xsd:attribute name='partOfSpeech' use='optional' type='PartOfSpeechType' />
			<xsd:attribute name='lexicalized' type='xsd:boolean' default='true' use='optional' />
			<xsd:attribute ref='dc:subject' use='required' /> <!-- lex domain -->
			<xsd:attributeGroup ref='Meta' />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='Definition'>
		<xsd:complexType mixed='true'>
			<xsd:attribute name='language' type='xsd:string' use='optional' />
			<xsd:attribute name='sourceSense' type='SynsetIDREFType' use='optional' />
			<xsd:attributeGroup ref='Meta' />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='ILIDefinition'>
		<xsd:complexType mixed='true'>
			<xsd:attributeGroup ref='Meta' />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='Example'>
		<xsd:complexType mixed='true'>
			<xsd:attribute name='language' type='xsd:string' use='optional' />
			<xsd:attributeGroup ref='Meta' />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='SynsetRelation'>
		<xsd:complexType>
			<xsd:attribute name='target' type='SynsetIDREFType' use='required' />
			<xsd:attribute name='relType' type='SynsetRelationType' use='required' />
			<xsd:attributeGroup ref='Meta' />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='SenseRelation'>
		<xsd:complexType>
			<xsd:attribute name='target' type='SenseIDREFType' use='required' />
			<xsd:attribute name='relType' type='SenseRelationType' use='required' />
			<xsd:attributeGroup ref='Meta' />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='SyntacticBehaviour'>
		<xsd:complexType>
			<xsd:attribute name='subcategorizationFrame' type='xsd:string' use='required' />
			<xsd:attribute name='senses' type='SenseIDREFSType' use='optional' />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name='Count'>
		<xsd:complexType mixed='true'>
			<xsd:attributeGroup ref='Meta' />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
